<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xf.mapper.UserMapper">
    <insert id="save" parameterType="xf.pojo.User">

        insert into user(username,password,phone)
        values(#{username},#{password},#{phone})

    </insert>


    <select id="findCountByUsername" resultType="java.lang.Integer">
        select count(*) from user where username=#{username}
    </select>
    <select id="findByUsername" resultType="xf.pojo.User">

      select * from user where username=#{username}

    </select>
</mapper>